.experience-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.experiences {
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 218, 218, 0.438);
    height: 82vh;
    width: 120vh;
    margin-top: -1%;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Faster transition for the header */
    opacity: 0;
    transform: translateY(20px);
    overflow: visible;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Initial subtle shadow */
    transform: scale(1); /* Initial scale */
}

.experiences:hover {
    transform: scale(1.005); /* Slightly larger scale on hover */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* More pronounced shadow on hover */
    cursor: pointer; /* Change cursor to indicate interactiveness */
}


.visible {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 6vh;
}

.dropdown {
    position: relative;
    overflow: visible;
}

.dropdown-header {
    cursor: pointer;
    font-size: 3vh;
    margin-bottom: 3vh;
    transition: opacity 1s ease-in-out; /* Quick animation for the header */
    display: flex;
    flex-direction: row;


}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    background-color: rgba(218, 218, 218, 0.438);
    z-index: 10000;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Slower transition for content */
    opacity: 0;
    transform: translateY(10px); /* Initial state slightly translated */
}

.visible .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

p1, p2 {
    display: flex;
    margin-left: 5.1%;
}


.experience-logo {

    width: 6vh;
    height: auto;
    margin-right: 2vh;  
    background: none; 
    margin-top: -0.5vh;

}

li {
    font-size: 1.7vh;
}