.experience-page {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiences {
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.8);
    height: 78vh;
    width: 120vh;
    margin-top: -1%;
}

h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 7vh;
}

.coursework-page {
    padding-top: 30px;
}

.dropdown {
    position: relative;
}

.dropdown-header {
    padding: 50px;
    cursor: pointer;
    font-size: 4vh;
}


/* .dropdown-content {
    display: flex;
    position: absolute;
    top: 68%;
    width: 120vh;
    height: 12vh;
    background-color: rgba(241, 241, 241, 0.9);
    min-width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none; /* Adjusted to display dropdown content */
    /* transition: 2s ease; 
} */

/* .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
} */ 


.dropdown-content li {
    display: flex;
    align-items: center;
  
    font-size: 2vh;
}

p1 {
    display: flex;
    margin-left: 5.1%;
    margin-top: 7%;
}

p1 span {
    font-weight: bold;
}
p2 {
    margin-left: 5.1%;
}
p2 span {
    font-weight: bold;
}

