body {
  margin: 0;
  padding: 0;
}


.homepage {
  background-color:transparent;
  position: relative;
}

.image-background {
  position: relative; /* Required for proper positioning of the pseudo-element */
  margin-top: -4.5vh;
}

.image-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./berkeleyscreenshot.png'); /* Ensure this path is correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the image fixed during scroll */
  opacity: 0.7; /* Adjust opacity as needed */
  z-index: -1; /* Ensures the image stays behind the content */
}

/* Ensure other content is above the background image */
.image-background > * {
  position: relative;
  z-index: 1;
}



.grainy-background {
  background: url('./whitebackground4k.jpg'); /* Path to your grainy texture */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Scrolls with the content */
}

/* You may want to adjust other styles like padding, margin, etc., as needed */



html {
  scroll-behavior: smooth;
}


.App {
  position: relative;
}

.content {
  /* Your content styles */
  min-height: 100vh;
}

.scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 1.5vh;
  right: 5vh;
  z-index: 99;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s;
  font-size: 5vh;
  transition: transform 0.1s linear;
}

.scroll-to-top-btn:hover {
  transform: translateY(-7px);
  transform: scale(1.1);
}

.show {
  display: block;
}

.hide {
  display: none;
}




